<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS Reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
    <!-- Milligram CSS minified -->
    <link rel="stylesheet" href="css/milligram.css">
  </head>
  <body>
    <div class="container">
      <h2>Make API calls with JWT</h2>

      <blockquote>
        <p><em>JSON Web Token (JWT) is an open standard (RFC 7519) that defines a compact and self-contained way for securely transmitting information between parties as a JSON object. This information can be verified and trusted because it is digitally signed. JWTs can be signed using a secret (with the HMAC algorithm) or a public/private key pair using RSA.</em></p>
      </blockquote>

      <a class="button" href="#">Make API Call</a>

      <form>
        <fieldset>
          <label for="api-response">API Response</label>
          <textarea placeholder="…" id="api-response"></textarea>
        </fieldset>
      </form>
    </div>

    <script src="js/main.js"></script>
  </body>
</html>
